.router-link-exact-active {
    color: #212529 !important;
    font-weight: 600 !important;
}

// Landing Page

.landing-bg {
    background-image: radial-gradient(circle at bottom right, #2b5e83, #281bb7) !important;
}